

</body>

<footer>
  &copy;2019 Subha Ilamathy 
  <section id="lab_social_icon_footer">

  <div class="container">
    <div class="text-center center-block">
             
              <a href="https://www.linkedin.com/in/subha99/"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
	            <a href="https://github.com/subhailams/"><i id="social-gi" class="fa fa-github-square fa-3x social"></i></a>
	            <a href="mailto:subhailams@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>

</footer>

</html>
